apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: farmiq-gcp-secret-store
  namespace: farmiq-cloud-prod

spec:
  provider:
    gcpsm:
      projectID: farmiq-prod
      auth:
        workloadIdentityPool: farmiq-prod-wip@developer.gserviceaccount.com
        cluster: https://container.googleapis.com/v1/projects/farmiq-prod/locations/asia-southeast1
        scopes:
          - https://www.googleapis.com/auth/cloud-platform
          - https://www.googleapis.com/auth/sqladmin
      secretAccess:
        secretVersion: "v2"
        createSecret: true
        deleteSecret: true
        accessSecretVersion: "v2"
